{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <div>
        {{ user.firstName }}
    </div>
    <div>
        {{ user.lastName }}
    </div>
    <div>
        {{ user.email }}
    </div>
    <div>
        {{ user.uuid }}
    </div>
    <div>
        {{ user.city }}
    </div>
    <div>
        {{ user.about }}
    </div>
    {% for post in posts %}
        <div>
            {{ post.text }}
        </div>
    {% endfor %}
{% endblock %}
