{% extends 'base.html.twig' %}

{% block body %}
    <div class="section">
        <div class="container is-max-desktop">
            {% for user in users %}
                <div class="box relative">
                    <a class="card-href" href="{{ path('profile.view', {'uuid':user.uuid}) }}"></a>
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                {% if user.image %}
                                    <img src="{{ imgSrc ~ '/uploads/' ~ user.image }}" alt="The vowel game">
                                {% else %}
                                    <img src="https://reactnativecode.com/wp-content/uploads/2018/02/Default_Image_Thumbnail.png" alt="Contact Moses">
                                {% endif %}
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="content">
                                <p>
                                    <strong>{{ user.firstName }} {{ user.lastName }}</strong> <small>{{ user.city }}</small>
                                    <br>
                                    {{ user.about }}
                                </p>
                            </div>
                        </div>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
