<div class="card mt-6">
    <a class="card-href" href="{{ path('post.show', {'id':post.id}) }}"></a>
    {% if post.image %}
        <div class="card-image">
            <figure class="image">
                <img src="{{ '/uploads/' ~ post.image }}" alt="Placeholder image">
            </figure>
        </div>
    {% endif %}
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-48x48">
                    <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
            </div>
            <div class="media-content">
                <p class="title is-4">{{ post.user.firstName }} {{ post.user.lastName }}</p>
                <p class="subtitle is-6">{{ post.user.city }}</p>
            </div>
            <div class="media-right">
                <div>
                    <i class="far fa-thumbs-up"></i> {{ post.likeCount }}
                </div>
                <div>
                    <i class="far fa-comments"></i> {{ post.commentCount }}
                </div>
            </div>
        </div>

        <div class="content">
            {{ post.text }}
            {#            <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>#}
        </div>
    </div>
</div>